{% extends 'base.html.twig' %}

{% block body %}

	{% if infouser.cover == null %}
		<a style="cursor:pointer;" data-toggle="modal" data-target="#myModal2"><img src="{{ asset('img/default.jpg') }}" class="img-style-paralax"></a>
	{% else %}
		<a style="cursor:pointer;" data-toggle="modal" data-target="#myModal2"><img src="{{ asset('uploads/cover/' ~ infouser.cover ~ '') }}" class="img-style-paralax"></a>
	{% endif %}
	
	<div class="col-md-4 pre-dashboard">
		<div class="col-md-4 col-xs-4 ico-dashboard">
			<h3><strong>{{ user.username }}</strong></h3>
			<h3><strong><span class="glyphicon glyphicon-heart"></span> 0</strong></h3>
			<h3><strong><span class="glyphicon glyphicon-user"></span> 0</strong></h3>
		</div>
		<div class="col-md-8 col-xs-4">
			{% if infouser.cover == null %}
				<a style="cursor:pointer;" data-toggle="modal" data-target="#myModal1"><img src="{{ asset('img/default.jpg') }}" class="img-style-avatar"></a>
			{% else %}
				<a style="cursor:pointer;" data-toggle="modal" data-target="#myModal1"><img src="{{ asset('uploads/avatar/' ~ infouser.avatar ~ '') }}" class="img-style-avatar"></a>
			{% endif %}
		</div>
	</div>

	<div class="col-md-12 main-dashboard">

	</div>

<!-- Modals -->

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Photo de profil</h4>
	      </div>
	      {{ form_start(dataform, {'method': 'post', 'action': path('user_dashboard')}) }}
		      <div class="modal-body" style="text-align:center;">
		      	{% if infouser.cover == null %}
					<img src="{{ asset('img/default.jpg') }}" class="img-style-paralax">
				{% else %}
					<img src="{{ asset('uploads/avatar/' ~ infouser.avatar ~ '') }}" class="img-style-modal">
				{% endif %}
		        
		        {{ form_widget(dataform.avatar) }}
		      </div>
		      <div class="modal-footer">
		        <input type="submit" class="btn btn-success" value="Sauvegarder"></button>
		      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Photo de couverture</h4>
	      </div>
		      <div class="modal-body" style="text-align:center;">
		        {% if infouser.cover == null %}
					<img src="{{ asset('img/default.jpg') }}" class="img-style-paralax">
				{% else %}
					<img src="{{ asset('uploads/cover/' ~ infouser.cover ~ '') }}" class="img-style-modal">
				{% endif %}
		        {{ form_widget(dataform.cover) }}
		      </div>
		      <div class="modal-footer">
		        <input type="submit" class="btn btn-success" value="Sauvegarder"></button>
		      </div>
	  	  {{ form_end(dataform) }}
	    </div>
	  </div>
	</div>

{% endblock %}